body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3f5f8;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1280px;
  background-color: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content  */
.main-container-sections {
  padding: 100px 90px;
}

.about-me {
  background-color: white;
  margin: 0 0 40px 0;
}

.about-me-proffesion {
  font-size: 14px;
  font-weight: 700px;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 20px 0;
}

.my-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 0 0 5px 0;
  color: black;
}

.about-me-life {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
  margin: 5px 5px 5px 0;
}

.about-me {
  background-color: white;
}

.about-me-summary {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 600px;
  margin: 5px 5px 5px 0;
}

/* Загаловки */
.text {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.my-projects {
  margin: 0 0 50px 0;
}
.my-projects-list {
  padding: 0 0 0 17px;
}
.number {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}

/* bracket */
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}

.Href {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-company {
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.date-work {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.date-work-bracket {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: #646567;
}
.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-compani-3 {
  margin: 0 0 15px 0;
}

.my-work-experience-compani-2 {
  margin: 0 0 20px 0;
}

.my-work-experience-compani-1 {
  margin: 0 0 45px 0;
}

.my-work-experience-education {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.my-education-university {
  margin: 0 0 10px 0;
}

.my-education-Management {
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

/* Sidebar-section */
.Sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.Contacts-section-main {
  margin: 50px 0 0 40px;
}
.Tech-skills-section-main {
  margin: 45px 0 0 40px;
}
.Soft-Skills-section-main {
  margin: 45px 0 0 40px;
}
.sidebar-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: white;
  margin-bottom: 10px;
}

/* Contacts-section */
.Contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin-right: 10px;
}
.Contacts-section-line {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #727983;
}

/* Tech-skills-list */

.Tech-skills-list-ul {
  padding: 0 0 0 17px;
  column-count: 2;
}

.Tech-skills-list {
  padding: 0 0 0 17px;
}

.Tech-skills-item {
  color: #fb6d3a;
}
.Tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
